body 
{
    padding:0;
    margin:0 10%;
    color: black; 
    background: #ffffff; 
    font: 12px 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif;
}

h1.header {
	font-family: "Trebuchet MS", sans-serif;
	color: #036;
	text-align: center;
	font-size: xx-large;
}

/* used in the banner */
.pagetitle {
	font-family: "Trebuchet MS", sans-serif;
	color: #036;
	text-align: center;
}

#content {
    margin-top:5ex;
    margin-right: 18em;
    margin-bottom:3ex;
}

#content img{
    margin:0.5ex 0.5em;
}

img 
{
    border:0px;
    padding:0;
    margin:0;
}

a:link 
{
    color:#00b;
    text-decoration: none;
}

a:visited 
{ 
    color:#007; 
    text-decoration: none;
}

a:hover 
{
    color: blue; 
    text-decoration: none;
}

/* used in the sidebar */

#nav {
    /*overflow:hidden; - removed to make drop down display properly*/
    float: right;
    width:16em;
}

/* mvbl - following makeMenu items added to make drop down menu work.  Taken from http://www.howtocreate.co.uk/tutorials/testMenu.html */
ul.makeMenu, ul.makeMenu ul {
}
ul.makeMenu li {
  list-style-type: none;       /* removes the bullet points */
  margin: 0px;                 /* Opera 7 puts large spacings between li elements */
  position: relative;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */
  color:#0000A0 ;                 /* sets the default font colour to white */
}
ul.makeMenu li > ul {          /* using the > selector prevents many lesser browsers (and IE - see below) hiding child ULs */
  display: none;               /* hides child menu blocks - one of the most important declarations */
  position: absolute;          /* make child blocks hover without leaving space for them */
  top: 2px;                    /* position slightly lower than the parent menu item */
  left: 120px;                 /* this must not be more than the width of the parent block, or the mouse will
                                  have to move off the element to move between blocks, and the menu will close */
  border: 1px solid #003366;
}

ul.makeMenu li:hover, ul.makeMenu li.CSStoHighlight {
  background-color: white;     /* gives the active menu items a background colour */
}
ul.makeMenu ul.CSStoShow {     /* must not be combined with the next rule or IE gets confused */
  display: block;              /* specially to go with the className changes in the behaviour file */
}
ul.makeMenu li:hover > ul {    /* one of the most important declarations - the browser must detect hovering over arbitrary elements
                                  the > targets only the child ul, not any child uls of that child ul */
  background-color: white;
  display: block;              /* makes the child block visible - one of the most important declarations */
}
/* and some link styles */
ul.makeMenu li a { color: black; display: block; width: 100%; text-decoration: underline; }
ul.makeMenu li a:hover, ul.makeMenu li a.CSStoHighLink { color: white; }
ul.makeMenu li:hover > a { color: #000; } /* supports links in branch headings - should not be display: block; */

div.menu {
    border: 1px solid #003366;
    background-color: #fdfdfd;
    text-align:left;
    width:14.5em;
    margin: 0ex 1em 3ex 1em;
    font-family: Geneva, Verdana, Helvetica, Arial, sans-serif;
}

#nav .button {
    margin:0ex 1em 2ex 1.5em;
}

div.menu div.title {
    color:black;
    font-weight:bold;
    background-color: #9999cc;
    border-bottom: 1px solid #003366;
    padding: 0.5ex 1em 0.5ex 1em;
    font-size:12px;
}

div.menu div.menucontent {
    color:black;
    font-weight:normal;
    background-color: #fdfdfd;
    margin: 0.5ex 1em 0.5ex 1em;
    border: 0px;
    font-size:11px;
}

div.menu ul {
    margin: 1ex 0px;
    padding: 0px 15px;
    list-style-image: url(http://www.scotgrid.ac.uk/graphics/arrow.gif);
    text-indent: -0.0ex;
    text-indent: -0.0ex;
}

div.menu ul li {
    margin: 0.3ex 0px;
}

div.menu ul li a.ulheading {
    font-weight:bold;
    position:relative;
    left:-0.6em;
}
            
div.menu ul li div {
    position:relative;
    left:-0.5em;
}

div#footer {
    font-size:10px;
    text-align:center;
    margin-bottom:5ex;
    clear: both;
}

div#footer hr 
{
    color:gray;
    margin:1ex 0ex 1ex 0ex;
}

dl.contacts dt
{
    font-weight: bold;
    line-height: 200%;
}

/** nick's additions **/
div.announcements {
    border: solid black 1px;
    background-color: #ffd9ff;
    margin-bottom: 1.5em;
}
.announcements h2 {
    font-size: 1em;
    text-align: center;
}
.announcements li {
    margin-bottom: 1em;
}

div.photo-bar, div.elastic-photo-bar {
    text-align: center;
    margin: 0.5em auto;
    border-top: solid black 1px;
    border-bottom: solid black 1px; 
}
div.support-footer {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    margin: 0.5em auto;
}
.photo-bar img {
    height: 100px;
}
.cancelled {
    text-decoration: line-through;
}
/* decorations used in tips pages */
.bottle p:before {
    content: url(../images/bottle.gif);
}
.info p:before {
    content: url(../images/info.gif);
}
.money p:before {
    content: url(../images/money.gif) " ";
}
.outandabout p:before {
    content: url(../images/outandabout.gif) " ";
}
.pram p:before {
    content: url(../images/pram.gif) " ";
}

/* for groups page */
.map {
    margin: 1em;
    width: 420px;
    height: 400px;
    float: right;
}
.map iframe {
    width: 100%;
    height: 100%;
}
.group {
/* http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
    width: 28em;
    min-height: 10em;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;
    overflow: auto;
}
/* make definitions lists put the definition in line with the term */
.group dt {
    float: left;
    font-weight: normal;
    font-style: italic;
}
.group dd {
    margin-left: 5em;
    margin-bottom: 0.5em;
}
